@use 'helpers' as *;

:root {
  --color-dark: #0d0d11;
  --color-light: #FFFFFF;
  --color-blue: #3d96f4;
  --color-gray: rgba(129, 129, 139, 0.2);
  --color-gray-alt: #9c9c9c;
  --color-gray-alt-alt: #81818b;

  --font-family-base: "Poppins", sans-serif;

  --container-width: #{rem(1280)};
  --container-padding-x: #{fluid(20, 15)};

  --transition-duration: 0.2s;
}